body {
  color: #fff;
  background-image: url("vandylanboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
	position: absolute;
	width: 80%;
	margin-left: 8%;
	padding-left: 50px;
	padding-right: 50px;
	height: 75%;
	overflow: auto;
	top: 100px;
	text-align: left;
	
	border-radius:20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.6);
}

#content p {
	font-size: 16px;
}